/* global */
html, body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

body {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  background-color: black;
  position: relative;
}

span {
  max-width: 100%;
  font-size: 1.6em;
  font-family: 'Work Sans', sans-serif;
}


/* layout */
div.container {
  margin: 0 auto;
  margin-top: 40px;
  padding: 0;
  background-image: url('moon.jpg');
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
}

div#animate {
  position: absolute;
  background-size: cover;
  visibility: hidden;
}

div#start {
  position: absolute;
  right: 40px;
  border: solid 1px rgba(220, 220, 220, 0.8);
  color: rgb(220, 220, 220);
  font-size: 16px;
  visibility: visible;
}

div#links {
  position: relative;
}

a#ghub {
  position: absolute;
  bottom: 80px;
  right: 40px;
  font-size: 20px;
  color: #9d9b99;
}

a#ghub:hover {
  color: white;
}

/* media queries */
@media screen and (max-width: 1199px) {
  div.container {
    max-width: 100vw;
  }
}

@media screen and (max-width: 1000px) {
  div.container {
    background-size: cover;
  }
}
