/* global */

body {
  text-decoration: none;
  background-color: black;
  max-width: 1200px;
  margin: auto;
}

span {
  max-width: 100%;
  font-size: 1.6em;
  font-family: 'Work Sans', sans-serif;
}


/* layout */

div.container {
  margin: 0;
  background-image: url('moon.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100%;
  max-width: 100%;
  position: relative;
}

div#animate {
  position: absolute;
  background-size: cover;
  visibility: hidden;
}

div#start {
  position: absolute;
  right: 40px;
  border: solid 1px rgba(220, 220, 220, 0.8);
  color: rgb(220, 220, 220);
  font-size: 16px;
  visibility: visible;
}

div#links {
  position: relative;
}

a#ghub {
  position: absolute;
  bottom: 80px;
  right: 40px;
  font-size: 20px;
  color: white;
}

a#ghub:hover {
  color: #401f38;
}


@media screen and (max-width: 1199px) {
  div.container {
    max-width: 100vw;
    margin: auto;
  }
}


@media screen and (max-width: 1060px) {
  div.container {
    /*change background-image to a smaller version of moon.jpg*/
    /*(separate file)*/
  }
}
